In [ ]:
def artimetic(term_1, term_2, operator):
    result = 0
    if operator == '+':
        result = term_1 + term_2
    elif operator == '-':
        result = term_1 - term_2
    elif operator == '*':
        result = term_1 * term_2
    elif operator == '/':
        result = term_1 / term_2
    print("Result: ", result)
    return result

def calc_artimetic(string):
    term_1 = -1
    term_2 = -1
    result = -1
    operator = ''
    op_list = ['+', '-', '*', '/']
    char = 0
    while char < len(string):
        print(string[char])
        if string[char] in op_list:
            operator = string[char]
            char += 1
        elif string[char] == '(' or string[char] == ')':
            close_index = str(string[char:len(string)-1]).index(')')
            calc_parenthesis = str(string[char:char+close_index]).replace('(', '').replace(')', '')
            par_result = calc_artimetic(calc_parenthesis)
            
            if term_1 == -1:
                term_1 = par_result
            else:
                term_2 = par_result
                result = artimetic(term_1, term_2, operator)
                term_1 = result
            char += close_index + 1
        else:
            
            if term_1 == -1:
                term_1 = int(string[char])
            else:
                term_2 = int(string[char])
                result = artimetic(term_1, term_2, operator)
                term_1 = result
            char += 1
        
    return result

In [47]:
print("Final Result: ", calc_artimetic("2+3+5+6"))
# 2+3 = 5
# 5+5 = 10
# 10+6 = 16

2
+
3
Result:  5
+
5
Result:  10
+
6
Result:  16
Final Result:  16

In [48]:
calc_artimetic("2+(3+7)+6")
# 3+7 = 10
# 2+10 = 12
# 12+6 = 18

2
+
(
Close Index:  4
Calculate Parenthesis:  3+7
3
+
7
Result:  10
Parenthesis Result:  10
Result:  12
+
6
Result:  18

18

In [49]:
calc_artimetic("2*5")
# 2*5 = 10

2
*
5
Result:  10

10

In [50]:
calc_artimetic("10/5")
# 10/5 = 2

1
0
Result:  0
/
5
Result:  0.0

0.0